@model SunTech.Models.TipoPlaca

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Tipo Placa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTipoPlaca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTipoPlaca)
        </dd>
    </dl>
</div>
<div>
    <a class="btn3" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn2" asp-action="Index">Voltar</a>
</div>
