@model SunTech.Models.TipoPlaca

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeTipoPlaca" class="control-label">Tipo Placa</label>
                <input asp-for="NomeTipoPlaca" class="form-control" />
                <span asp-validation-for="NomeTipoPlaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary btn3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn2" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
