@model SunTech.Models.MonitoramentoDiario

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataDia" class="control-label">Dia de Hoje</label>
                <input asp-for="DataDia" class="form-control" />
                <span asp-validation-for="DataDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaDia" class="control-label">Produção Diária</label>
                <input asp-for="MediaDia" class="form-control" />
                <span asp-validation-for="MediaDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonitoramentoId" class="control-label">Monitoramento</label>
                <select asp-for="MonitoramentoId" class ="form-control" asp-items="ViewBag.MonitoramentoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary btn7" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn2" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
