@model SunTech.Models.Compra_Has_Produto

@{
    ViewData["Title"] = "Create";
}

<h4>Compra Has Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompraId" class="control-label">Id Compra</label>
                <select asp-for="CompraId" class ="form-control" asp-items="ViewBag.CompraId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label">Id Produto</label>
                <select asp-for="ProdutoId" class ="form-control" asp-items="ViewBag.ProdutoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeProduto" class="control-label">Quantidade</label>
                <input asp-for="QuantidadeProduto" class="form-control" />
                <span asp-validation-for="QuantidadeProduto" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="ValorUnitario" class="control-label"></label>
                <input asp-for="ValorUnitario" class="form-control" />
                <span asp-validation-for="ValorUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotalProduto" class="control-label"></label>
                <input asp-for="ValorTotalProduto" class="form-control" />
                <span asp-validation-for="ValorTotalProduto" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary btn7" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn2" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
